@font-face {
    font-family: ds-digit;
    src: url(../Font/DS-DIGIT.TTF);
}
@font-face {
    font-family: Display_St;
    src: url(../Font/Display_St.ttf);
}
@font-face {
    font-family: earthorbiter;
    src: url(../Font/earthorbiter.ttf);
}
@font-face {
    font-family: TravelingTypewriter;
    src: url(../Font/TravelingTypewriter.ttf);
}

html{
	padding: 0px;
	margin: 0px;
}
body{	
	font-family: Verdana;
	font-size: 11px;
	padding: 15px;
	background-color:#000000;
}

.jsdj {
	max-width: 1280px;
	max-height: 600px;
	margin:auto;
	background-color: #333;
	color: #cecece;
	padding:10px;
}

a{
	color: white !important;	
}

canvas{
	width:283px !important;
	height:40px;
}

h1 {
	font-size: 15px;
	font-weight: normal;
	height:30px;
	margin: 0px 0px 0px 0px;
}

#scheda_titolo{
	font-family: earthorbiter;
	margin: 0px 0px 0px 10px !important;
}

h2 {
	font-size: 11px;
	font-weight: normal;
	margin: 7px 0px 7px 0px;
}
h5 {
	font-family: earthorbiter;
	font-size: 16px;
	font-weight: normal;
	margin-top: 0px !important;
}

#scheda_autore{
	font-family: earthorbiter;
	margin: 0px 0px 10px 10px !important;
}

#titolo_dettaglio1{
	font-family: Display_St;
	font-size: 20px;
	margin: 4px 0px 0px 0px !important;
	height:20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#titolo_dettaglio2{
	font-family: Display_St;
	font-size: 20px;
	margin: 4px 0px 0px 0px !important;
	height:20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#autore_dettaglio1{
	font-family: Display_St;
	font-size: 15px;
	margin: 0px 0px 0px 0px !important;
}
#autore_dettaglio2{
	font-family: Display_St;
	font-size: 15px;
	margin: 0px 0px 0px 0px !important;
}

h6 {
	font-size: 15px;
	font-weight: normal;
	height:30px;
	margin: 0px 0px 0px 0px;
}

#min-tot-tr1{
	font-family: ds-digit;
	margin-top:15px;
	margin-left:15px;
	font-size: 25px !important;
}
#min-tot-tr2{
	font-family: ds-digit;
	margin-top:15px;
	margin-right:15px;
	font-size: 25px !important;
}
#min-rim-tr1{
	font-family: ds-digit;
	margin-left:18px;
}
#min-rim-tr2{
	font-family: ds-digit;
	margin-right:18px;
}

.btn-primary{
	background-color: #262424 !important;
	border-color: #c1c1c1 !important;
	color:#c1c1c1 !important;
}
.my-btn{
	background:#262424 !important;
	border-color: #c1c1c1 !important;
	color:#c1c1c1 !important;
	padding: 0px 0px 0px 0px !important;
}
.my-btn:hover{
	background:#262424 !important;
	border-color: #121111 !important;
}
.my-btn:focus{
	border-color: #c1c1c1;
}
.my-btn h2{
	margin: auto;
}
i {
	font-size:12px !important;
	margin-bottom:5px !important;
}

#button_cue1,#button_cue2, #button_sync1, #button_sync2{
	font-family: earthorbiter;
	width: 48px !important;
	height: 30px !important;
}
#button_flanger1,#button_flanger2, #button_brake1, #button_brake2, #button_echo1, #button_echo2, #button_chorus2{
	font-family: earthorbiter;
	width: 48px !important;
	height: 22px !important;
}
#button_play1,#button_play2{
	width: 48px !important;
	height: 30px !important;
}
#button_stop1,#button_stop2{
	width: 48px !important;
	height: 30px !important;
}

#button_in1, #button_out1, #button_in2, #button_out2{
	font-family: earthorbiter;
	width: 55px !important;
	height: 30px !important;
}

#control_audio1, #effects_tr1{
	left:12px;
}

#control_audio2, #effects_tr2{
	right:12px;
}

.btn-eq1,.btn-eq2{
	font-family: earthorbiter;
	line-height: 14px !important;
	background:#262424 !important;
	color:#c1c1c1 !important;
	width:60px !important;
	height: 50px !important;
	margin: 0px 0px 3px 0px !important;
	padding: 0px 5px 0px 5px !important; 
}
.btn-eq1,.btn-eq2{
	border-color: #c1c1c1;
	color:#c1c1c1;
}
.btn-eq1:focus{
	border-color: #d60000 !important;
}
.btn-eq2:focus{
	border-color: #20d320 !important;
}
.btn-eq1:hover{
	border-color: #d60000;
}
.btn-eq2:hover{
	border-color: #20d320;
}
.btn-eq1:active{
   	border-color: #d60000 !important;
}
.btn-eq2:active{
	border-color: #20d320 !important;
}
.btn-eq1 h2, .btn-eq2 h2{
	margin: auto;
}

#button_classica{
	padding: 0px 3px 0px 3px !important; 
}
#button_pop{
	padding: 0px 10px 0px 10px !important; 
}

.progress{
	width: 110px;
	height: 6px;
	margin-bottom: 10px !important;
}

.int-spinner{
	background:#262424 !important;
	color: white;
	width: 90px;
	color:white !important; 
	text-align: center;
}
.input-group{
	margin-bottom: 10px !important;
}

.slider-vertical {
	width: 4px !important;
	background:#000 !important;
	border: 1px #000 !important;
}
.slider-vertical .ui-slider-handle {
	height:20px !important;
	background: linear-gradient(black,gray,black)!important;
	outline: none !important;
	left: -5px !important;
	margin-bottom: -10px !important;
	border: solid 1px #000 !important;
}

.ui-slider-vertical.ui-slider-pips{
	margin-right: 0em !important; 
}
.ui-slider-vertical-pip{
	margin-bottom:2px !important;
}
#slider-vertical_volume1 .ui-slider-line, #slider-vertical_volume2 .ui-slider-line{
	background: -moz-linear-gradient(left,  #666 0%, #666 40%, #000 40%, #000 60%, #666 60%, #666 100%) !important;
	background: -webkit-linear-gradient(left,  #666 0%, #666 40%, #000 40%, #000 60%, #666 60%, #666 100%) !important;
	width: 20px !important;
  	height: 2px !important;
}
#slider-vertical_volume1 .ui-slider-pip, #slider-vertical_volume2 .ui-slider-pip{
	left: -8px !important;
}
#slider-vertical_volume1 .ui-slider-label, #slider-vertical_volume2 .ui-slider-label{
	display: none !important;
}
#slider-vertical_volume1 .ui-slider-range{
	background-color: rgba(220,41,30,0.8);
	border: solid 1px #000;
}
 #slider-vertical_volume2 .ui-slider-range{
	background-color: rgba(32,211,32,0.8);
	border: solid 1px #000;
 }

#slider-vertical_velocita1 .ui-slider-line, #slider-vertical_velocita2 .ui-slider-line {
	background: -moz-linear-gradient(left,  #666 0%, #666 40%, #000 40%, #000 60%, #666 60%, #666 100%) !important;
	background: -webkit-linear-gradient(left,  #666 0%, #666 40%, #000 40%, #000 60%, #666 60%, #666 100%) !important;
	width: 20px !important;
  	height: 2px !important;
	left: -28px !important;
	margin-left: 0 !important;
}
#slider-vertical_velocita1 .ui-slider-label{
	left: -8px !important;
}
#slider-vertical_velocita2 .ui-slider-label{
	left: -50px !important;
}
#slider-vertical_velocita1 .ui-slider-pip, #slider-vertical_velocita2 .ui-slider-pip{
	text-align: right !important;
}
#slider-vertical_volume1, #slider-vertical_volume2 {
    height: 132px;
	margin-top: 20px;
	margin-bottom: 25px !important;
}
#slider-vertical_velocita1, #slider-vertical_velocita2{
	height: 175px;
	margin-top: 20px;
}

#slider_automix{
	width:160px;
	height:4px !important;
	background:#000 !important;
	border:#000 !important;
	top: 50%;
}
#slider_automix .ui-slider-handle {
	width:17px !important;
	height:39px !important;
	background: linear-gradient(to right,black,gray,black) !important; 
	border: solid 1px #000 !important;
	outline: none !important;
	margin-top:-15px !important;
}
#slider_automix .ui-slider-line{
	background: -moz-linear-gradient(top,  #666 0%, #666 35%, #000 35%, #000 55%, #666 55%, #666 100%) !important;
	background: -webkit-linear-gradient(top,  #666 0%, #666 35%, #000 35%, #000 55%, #666 55%, #666 100%) !important;
	top: -27px !important;
	height:20px !important;
	width:2px !important;
}

.eq{
 	height:140px;
}

#eq_tr1{
	margin-top:15px !important;
}
#eq_tr2{
	margin-top:15px !important;
	margin-right:15px !important;
}
#H_eq_tr1 .ui-slider-line, #HM_eq_tr1 .ui-slider-line, #M_eq_tr1 .ui-slider-line, #LM_eq_tr1 .ui-slider-line,#L_eq_tr1 .ui-slider-line,
#H_eq_tr2 .ui-slider-line, #HM_eq_tr2 .ui-slider-line, #M_eq_tr2 .ui-slider-line, #LM_eq_tr2 .ui-slider-line,#L_eq_tr2 .ui-slider-line{
	background: -moz-linear-gradient(left,  #666 0%, #666 40%, #000 40%, #000 60%, #666 60%, #666 100%) !important;
	background: -webkit-linear-gradient(left,  #666 0%, #666 40%, #000 40%, #000 60%, #666 60%, #666 100%) !important;
	width: 20px !important;
  	height: 2px !important;
  	left: -28px !important;
  	margin-left: 0!important;
}
#HM_eq_tr1 .ui-slider-line, #M_eq_tr1 .ui-slider-line, #LM_eq_tr1 .ui-slider-line,
#HM_eq_tr2 .ui-slider-line, #M_eq_tr2 .ui-slider-line, #LM_eq_tr2 .ui-slider-line{
	background: -moz-linear-gradient(left,  #666 0%, #666 45%, #000 45%, #000 52%, #666 52%, #666 100%) !important;
	background: -webkit-linear-gradient(left,  #666 0%, #666 45%, #000 45%, #000 52%, #666 52%, #666 100%) !important;
	width: 55px !important;
	left: -45px !important;
}

.custom_eq{
	height:120px;
	left: 8px !important;
	right: 8px !important;
}
.echo{
 	height:120px;
}

.pista{
 	height:300px;
}

#pista_traccia1, #pista_traccia2{
	padding: 10px 0px 5px 0px !important;
}
#piastra1{
	position:absolute;
	left:47px;
}
#piastra2{
	position:absolute;
	right:5px;
	margin-right:45px;
}
#puntina1{
	position:absolute;
	right: -47px;
	transform:rotate(15deg);
}
#puntina2{
	position:absolute;
	left: 130px;
	transform:rotate(15deg);
}

.knob{
	background:#666 !important;
}
.knob-surround{
	margin:0px 0px 0px 0px !important; 
	width:23px !important;
	height:23px !important;
	border: solid 2px #121111 !important;
	background:#666 !important;
}
.knob lable, .knobe value{
	display:none !important;
}
.knob::before{
	background-color:#262424 !important;
}
.tick::after{
	background-color:#666 !important;
}

.min{
 	height:80px;
	padding: 2px 2px 2px 2px;
}

.automix{
 	height:60px;
	left:25px;
}

.min-att{
 	height:220px;
}

.bpm{
	height: 70px;
}

.titolo-spettro{
	height: 80px;
}

.display{
	padding-left: 15px;
	padding-right: 15px;
}
#dis_tr1{
	padding-left: 0px !important;
}
#dis_tr2{
	padding-right: 0px !important;
}
#titolo_tr1, #titolo_tr2{
	background-color:#282828;
	box-shadow: 1px 1px 0px 0px #262424;
	text-overflow: ellipsis;
}
#titolo_tr1{
	padding-left: 10px;
	padding-right: 5px;
	margin-right:-15px !important;	
	border-right: solid 2px #1e1e1e;
}
#titolo_tr2{
	padding-right: 10px;
	padding-left: 5px;
	margin-left:-15px !important;
	border-left: solid 2px #1e1e1e;
}
#min-tot1{
	padding-right: 10px;
	background-color:#282828;
	box-shadow: 1px 1px 0px 0px #262424 !important;
}
#min-tot2{
	background-color:#282828;
	padding-left: 10px;
	margin-left: 15px;
	box-shadow: 0px 1px 0px 0px #262424 !important;
}

#progress-bar1, #progress-bar2 {
	position: absolute;
    z-index: 10;
    top: 85%;
    margin-top: -10px;
    left: 5%;
    width: 90%;
}
.progress-bar-info{
	background-color:#d60000 !important;
}
.progress-bar-success{
	background-color:#20d320 !important;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

.riga2{
 	height:200px !important;
	padding: 0 !important;
	color: white;
	background-color:#262424;
}

.riga2 h2{
	font-size: 11px !important;
}

.force-overflow{
	min-height: 450px;
}

.file_system, .fileMp3, .play_list, .scheda_mp3 {
	border-top: solid 1px #BBB;
	border-left: solid 1px #BBB;
	border-bottom: solid 1px #666;
	border-right: solid 1px #666;
	padding: 5px;
}
#fileSystem::-webkit-scrollbar-track, #file_mp3::-webkit-scrollbar-track, #playlist::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: #262424;
}
#fileSystem::-webkit-scrollbar, #file_mp3::-webkit-scrollbar, #playlist::-webkit-scrollbar{
	width: 6px;
	background-color: #262424;
}
#fileSystem::-webkit-scrollbar-thumb, #file_mp3::-webkit-scrollbar-thumb, #playlist::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #626262;
}
#file_mp3::-webkit-scrollbar-corner{
	background-color: #262424;
}
#file_mp3::-webkit-scrollbar:horizontal{
	height: 6px;
}

.file_system, .fileMp3 {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

UL.jqueryFileTree{
	font-family: earthorbiter !important;
}
UL.jqueryFileTree LI.directory{
	background: url(../images/close.png) left top no-repeat !important;
}
UL.jqueryFileTree LI.expanded{
	background: url(../images/open.png) left top no-repeat !important;
}

.play_list{
	font-family: earthorbiter;
	width: 100%;
	height: 100%;
	padding:0px !important;
	overflow-y: scroll;
}

.scheda_mp3{
	font-family: earthorbiter;
	width: 100%;
	height: 100%;
}

table{
	width:100%;
}

#tabPlayList th {
	text-align: center; 
   	border:1px solid #404040;
   	padding:1px;
	font-size: 10px;
	background: #404040;
	
}

#tabPlayList td { 
	text-align: center; 
   	border:1px solid #404040;
   	padding:1px;
	font-size: 9px;
	height: 30px;
}

#tabPlayList tr:hover { 
	text-align: center; 
	font-size: 10px;	
	background-color: #414141;
}

#copertina_scheda{
	width: 70px;  
	height: 70px;
}

[class*="col-"] {
	padding: 0 !important;
}

#spinner_tr1, #spinner_tr2 {
	width: 110px;
	margin: auto !important;
}

