html{
	padding: 0px;
	margin: 0px;
}
body{
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 15px;
	background-color:#000000;
}

.jsdj {
	max-width: 1280px;
	max-height: 600px;
	margin:auto;
	background-color: #333;
	color: #f4f4f4;
	padding:10px;
}

a{
	color: white !important;	
}

canvas{
	padding-right: 7px;
	padding-left: 7px;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	height:30px;
	margin: 0px 0px 0px 0px;
}

#scheda_titolo{
	margin: 0px 0px 0px 10px !important;
}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	margin: 10px 0px 10px 0px;
}
#scheda_autore{
	margin: 0px 0px 10px 10px !important;
}

#titolo_dettaglio1{
	margin: 0px 0px 0px 0px !important;
	height:18px;
}
#titolo_dettaglio2{
	margin: 0px 0px 0px 0px !important;
	height:18px;
}

#autore_dettaglio1{
	margin: 0px 0px 0px 0px !important;
}
#autore_dettaglio2{
	margin: 0px 0px 0px 0px !important;
}

h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	height:30px;
	margin: 0px 0px 0px 0px;
}

#min-att-tr1, #min-att-tr2{
	margin-top:45px;
	font-size: 20px !important;
}

.my-btn{
	background:#262424 !important;
	color:white !important;
	/*width: 50px !important;
	height: 25px !important;*/
}
.my-btn:hover{
	background:#333 !important;
}

.btn-eq{
	background:#262424 !important;
	color:white !important;
	width:60px !important;
	height: 50px !important;
	margin: 3px 0px 5px 5px !important;
	padding: 0px 5px 0px 5px !important; 
}

#button_classica{
	padding: 0px 3px 0px 3px !important; 
}
#button_pop{
	padding: 0px 10px 0px 10px !important; 
}

.progress{
	width: 110px;
	height: 6px;
	margin-bottom: 10px !important;
}

.int-spinner{
	background:#262424 !important;
	color: white;
	width: 85px;
	color:white !important; 
}
.input-group{
	margin-bottom: 10px !important;
}

.ui-slider-handle {
	height:20px !important;
	background:#262424 !important;
	outline: none;
}

#slider_automix .ui-slider-handle {
	height:30px !important;
	background:#262424 !important;
	outline: none !important;
	top:-11px;
}
.eq{
 	height:140px;
}

#eq_tr1, #eq_tr2{
	margin-top:15px !important;
}

.custom_eq{
	height:120px;
	overflow-y: auto;
}
.echo{
 	height:120px;
}

.pista{
 	height:300px;
}

.min-automix{
 	height:80px;
}

#slider_automix{
	top: 40%;
}

.min-att{
 	height:100px;
}

.bpm-titolo-spettro{
	height: 40px;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

.riga2{
 	height:200px !important;
	padding: 0 !important;
	color: white;
	background-color:#262424;
}

.file_system, .file_mp3, .play_list, .scheda_mp3 {
	border-top: solid 1px #BBB;
	border-left: solid 1px #BBB;
	border-bottom: solid 1px #666;
	border-right: solid 1px #666;
	overflow-y: auto;
	padding: 5px;
}

.file_system, .file_mp3 {
	width: 100%;
	height: 100%;
}

.play_list{
	width: 100%;
	height: 100%;
}

.scheda_mp3{
	width: 100%;
	height: 100%;
}

table{
	width:100%;
}

#tabPlayList th {
	text-align: center; 
   	border:1px solid #404040;
   	padding:1px;
	font-size: 10px;
	background: #404040;
	
}

#tabPlayList td { 
	text-align: center; 
   	border:1px solid #404040;
   	padding:1px;
	font-size: 10px;
}

#tabPlayList tr:hover { 
	text-align: center; 
	font-size: 10px;	
	background-color: #414141;
}

#copertina_scheda{
	width: 70px;  
	height: 70px;
	border: 1px solid #fff
}

[class*="col-"] {
	padding: 0 !important;
}

#spinner_tr1, #spinner_tr2 {
	margin: auto !important;
}
